body {
    background-color: grey;
}

#book-container {
    background-color: lightgrey;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
}

.book-card {
    background-color: white;
}